/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

main>.container {
    padding: 15px 15px 15px;
}

body {
    background-image: url("./Assets/Images/moroccan-flower.png");
}

.window-size-custom {
    background-color: #f1faee;
    padding: 25px 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-text {
    text-align: center;
}

main {
    margin-top: 120px;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Noto Serif', serif;
    color: #50cbd0;
}

.non-head-text {
    font-family: 'Raleway', sans-serif;
}

.nav-color-palette {
    background-color: #1d3557;
}

article>p {
    color: black;
}

.text-highlight {
    background-color: #55a5a8;
}

.footer {
    background-color: #343a40;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

span>a:link {
    color: grey;
}

span>a:hover {
    color: rgba(255, 255, 255, .75);
}

span>a:focus {
    color: rgba(255, 255, 255, .75);
}

span>a:visited {
    color: grey;
}

span>a: code {
    font-size: 80%;
}

.profile-img {
    margin: 0 0 10px 0;
}

.row>img {
    margin: 0 0 5px 0;
}